<div >
  <input
        *ngIf= " isActiveInput"
        type="text"
        [(ngModel)]="entity[field]">
  <span *ngIf= "!isActiveInput" class="inline"> {{entity[field]}}</span>

  <div class="inline">

        <button *ngIf= "!isActiveInput"
            class="btn btn-sm btn-warning btn-editable"
            (click)="isActiveInput = true">
            Edit
        </button>

        <button *ngIf= "isActiveInput"
          class="btn btn-sm btn-danger btn-editable"
          (click)="isActiveInput = false">
          Cancel
        </button>

  </div>
</div>
