<div [ngStyle]="style" class="editable-component" >
  <textarea
        class="{{className}}"
        *ngIf= " isActiveInput"
        [(ngModel)]="entity[entityField]"
        [value]="entity[entityField]"
        rows="{{rows}}"
        cols="{{cols}}"
        >
        </textarea>
  <span *ngIf= "!isActiveInput" class="{{className}} inline"> {{entity[entityField]}}</span>

  <div class="inline">

        <button *ngIf= "!isActiveInput"
            class="btn btn-sm btn-warning btn-editable"
            (click)="isActiveInput = true">
            Edit
        </button>

        <button *ngIf= "isActiveInput"
          class="btn btn-sm btn-success btn-editable"
          (click)="updateEntity()">
          Save
        </button>

        <button *ngIf= "isActiveInput"
          class="btn btn-sm btn-danger btn-editable"
          (click)="cancelUpdate()">
          Cancel
        </button>

  </div>
</div>
