<bwm-header> </bwm-header>
<div class="container">
  <router-outlet></router-outlet>
</div>



  <button type="button" class="btn btn-primary middle" data-toggle="modal" data-target="#modalCookie1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>Developed by Tushar G. Kadam  "Click Here For More Info!!!" </button>

<div class="modal fade top" id="modalCookie1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

          <p class="pt-3 pr-2"><span class="glyphicon">&#xe183;</span> Contact me @ +91-734126983</p>
          <p class="pt-3 pr-2"><span class="glyphicon">&#xe183;</span> React based working project <span class="glyphicon">&#xe128;</span><a href="http://demofacerecognition.herokuapp.com/"><b>Facedetection App</b></a></p>
          <a type="button" class="btn btn-primary"><span class="glyphicon">&#x2709;</span> Mail me @ tusharlookingforjob@gmail.com </a>
          <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Close this</a>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
