<form [ngClass]= "isValidatingCard ? 'loading' : ''">

  <div *ngIf="token" class="image-loading-overlay">
    <div class="img-spinning-circle"></div>
  </div>

  <div class="group">
    <label>
    <span>Card Number</span>
    <div #cardNumber class="field"></div>
  </label>
    <label>
    <span>Expiry Date</span>
    <div #cardExp class="field"></div>
  </label>
    <label>
    <span>CVV</span>
    <div #cardCVV class="field"></div>
  </label>
  </div>
  <div class="outcome">
    <div *ngIf= 'error' class="error">
      {{error}}
    </div>
    <div *ngIf="token" class="success alert alert-success">
        Card accepted Successfully! Procceed to Confirm booking.
    </div>
  </div>
  <button [disabled]="!isCardValid()" (click)="onSubmit()" type='button'>Submit Button for test </button>
</form>
